sudo: required
services:
  - docker

before_install:
  - docker build -t docker-react -f Dockerfile.dev .

script:
  - docker run docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: eu-central-1
  app: docker-react-second
  env: Dockerreactsecond-env
  bucket_name: elasticbeanstalk-eu-central-1-515568066329
  bucket_path: docker-react-second
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"
